<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/home.css">
</head>
<body>
  <header class="navbar"><div class="logo"><img class="logo" src="/imagens/logo.png" alt="Logo Clothes Time"></div></header>
  
  <div class="produtos">
    <div class="produto"><a href="/produto"><img class="produto-img" src="https://static.zattini.com.br/produtos/camiseta-nike-legend-20-masculina/38/D12-2415-038/D12-2415-038_zoom1.jpg?ts=1546625960&ims=544x" alt="Camisa Nike Preta"></a>
      <h1 class="text">Camisa Nike Preta</h1>
      <p class="descricao">Camisa bem boa</p>
      <h2 class="text preco">R$ 320</h2>
    </div>

    <div  class="produto"><a href="/produto"><img class="produto-img" src="https://static.zattini.com.br/produtos/camiseta-nike-legend-20-ss-masculina/34/D12-2415-934/D12-2415-934_zoom1.jpg?ts=1637848321&ims=544x" alt=""></a>
      <h1 class="text">Camisa Nike Verde</h1>
      <p class="descricao">Camisa bem boa</p>
      <h2 class="text preco">R$ 200</h2>
    </div>

    <div  class="produto"><a href="/produto"><img class="produto-img" src="https://static.zattini.com.br/produtos/camiseta-nike-legend-20-ss-masculina/88/D12-2415-788/D12-2415-788_zoom1.jpg?ts=1637822858&ims=544x" alt=""></a>
      <h1 class="text">Camisa Nike Vinho</h1>
      <p class="descricao">Camisa bem boa</p>
      <p class="text preco">R$ 220</p>
    </div>
  </div>
</body>
</html>