<!DOCTYPE html>
<html>
<head>
  <title>Clothes Time</title>
  <link rel="stylesheet" type="text/css" href="/produto.css">
</head>
<body>
  <header class="navbar">
    <div class="logo"><img class="logo" src="/imagens/logo.png" alt="Logo Clothes Time"></div>
    <h1>CLOTHES TIME</h1>
  </header>

  <div class="produtos" > 
    <img src="<%= produto.imagens%>" alt="Camisa Nike Preta">
    <div class="produto">
      <span class="text"><%= produto.nome%></span><br>
      <span class="text"><%= produto.preco%> </span><br>
      <span class="text"><%= produto.descricao%></span>

        <button>Comprar</button>
    </div>
  </div>

  <footer>
    <h1>Compre sempre aqui!</h1>
  </footer>
</body>
</html>