<!DOCTYPE html>
<html>
<head>
  <title>Clothes Time</title>
  <link rel="stylesheet" type="text/css" href="/produto.css">
</head>
<body>
  <header class="navbar">
    <div class="logo"><img class="logo" src="/imagens/logo.png" alt="Logo Clothes Time"></div>
    <h1>CLOTHES TIME</h1>
  </header>
  
  <div class="produtos" > <img src="https://static.zattini.com.br/produtos/camiseta-nike-legend-20-masculina/38/D12-2415-038/D12-2415-038_zoom1.jpg?ts=1546625960&ims=544x" alt="Camisa Nike Preta">
    <div class="produto">
      <span class="text">Camisa Nike Preta</span>
      <span class="text">Preço: R$320 </span>
      <span class="text">Camiseta Nike Racing Masculina A camiseta Nike Racing possui todos os detalhes da marca que faz você optar por fazer dela uma camiseta essencial. Proporciona o conforto e estilo em que você não abre mão, tornando a peça ideal para tornar seu look autêntico. Esta camiseta é confeccionada em algodão, possuindo detalhes no visual que remete ao logo da marca, tecido leve e macio, possuindo caimento padrão para uma sensação de conforto e descontração.
        Produto original Nike vendido por Authentic Feet</span>

        <button>Comprar</button>
    </div>
  </div>
</body>
</html>