<!DOCTYPE html>
<html>
<head>
  <title>Clothes Time</title>
  <link rel="stylesheet" type="text/css" href="/produto.css">
</head>
<body>
  <header class="navbar"><div class="logo"><img class="logo" src="/imagens/logo.png" alt="Logo Clothes Time"></div></header>
  <div class="produtos">
    <div class="produto"><a href="/produto"><img class="produto-img" src="https://static.zattini.com.br/produtos/camiseta-nike-legend-20-masculina/38/D12-2415-038/D12-2415-038_zoom1.jpg?ts=1546625960&ims=544x" alt="Camisa Nike Preta"></a>
      <span class="text">Camisa Nike Preta</span>
      <span class="text">R$320</span>
    </div>
  </div>
</body>
</html>