<!DOCTYPE html>
<html>
<head>
  <title>Clothes Time</title>
  <link rel="stylesheet" type="text/css" href="/produto.css">
</head>
<body>
  <header class="navbar"><div class="logo"><img class="logo" src="https://i.ibb.co/FJ8qYMz/IMG-20230912-WA0019.jpg" alt="Logo Clothes Time"></div></header>

  <div class="produtos">
    <div class="produto"><img class="produto-img" src="https://static.zattini.com.br/produtos/camiseta-nike-legend-20-masculina/38/D12-2415-038/D12-2415-038_zoom1.jpg?ts=1546625960&ims=544x" alt="Camisa Nike Preta">
      <span class="text">Camisa Nike Preta</span>
      <span class="text">R$320</span>
    </div>

    <div  class="produto"><img class="produto-img" src="https://static.zattini.com.br/produtos/camiseta-nike-legend-20-ss-masculina/34/D12-2415-934/D12-2415-934_zoom1.jpg?ts=1637848321&ims=544x" alt="">
      <span class="text">Camisa Nike Verde</span>
      <span class="text">R$200</span>
    </div>

    <div  class="produto"><img class="produto-img" src="https://static.zattini.com.br/produtos/camiseta-nike-legend-20-ss-masculina/88/D12-2415-788/D12-2415-788_zoom1.jpg?ts=1637822858&ims=544x" alt="">
      <span class="text">Camisa Nike Vinho</span>
      <span class="text">R$220</span>
    </div>
  </div>
</body>
</html>