<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="teste.css">
    <title>Card de Produto</title>
</head>
<body>
    <div class="product-card">
        <img src="https://static.zattini.com.br/produtos/camiseta-nike-legend-20-masculina/38/D12-2415-038/D12-2415-038_zoom1.jpg?ts=1546625960&ims=544x" alt="Nome do Produto">
        <h2>Nome do Produto</h2>
        <p>Descrição do produto.</p>
        <span class="price">R$ 99,99</span>
        <button class="buy-button">Comprar</button>
    </div>
</body>
</html>
