/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 300px;
}

/* Estilos para a imagem */
.product-card img {
    max-width: 100%;
    height: auto;
}

/* Estilos para o título */
.product-card h2 {
    font-size: 1.5rem;
    margin-top: 10px;
}

/* Estilos para a descrição */
.product-card p {
    color: #666;
    margin-top: 10px;
}

/* Estilos para o preço */
.product-card .price {
    font-size: 1.25rem;
    color: #e44d26;
    font-weight: bold;
    margin-top: 10px;
}

/* Estilos para o botão de compra */
.product-card .buy-button {
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-card .buy-button:hover {
    background-color: #c4341c;
}
